.container{
    width: 100vw;
    height: 100vh;
    background-color: #797978;
    padding-left: 40px;
}

#weight, #height{
    width: 150px;
    height: 25px;
    margin-top: 20px;
}

#weight-guide{
    margin-left: 30px;
    margin-top: 25px;
}
#results{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 90px;
    color: white;
}

#button{
    width: 150px;
    height: 30px;
    margin-top: 18px;
    margin-left: 95px;
    color: rgb(74, 71, 71);
    padding: 1px 20px;
    border-radius: 5px;
   text-decoration: none;
   border: 2px solid rgb(78, 74, 74);
}

#h1{
    padding-left: 20px;
    padding-top: 20px;
}