
 .calculator{
    border: 2px, solid, #717377;
    height: 450px;
    width: 250px;
    border-radius: 0.5rem;
    display: flex;
   flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
     border: none;
     background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
 }
.calculator-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #1e232c;
    gap: 3rem;
}
.Heading{
    font-style: oblique;
    color: rgb(185, 86, 224);
    border-style: outset;
    border-color: rgb(64, 122, 147);
    border-radius: 0.3rem;
    border-width: 0.15rem;
}
.button{
     margin: 0.7rem;  
     border-radius: 100%;
     border: none;
     width: 33px;
     background-color: transparent;
     color: aliceblue;
     text-align: center;
     cursor: pointer;
     font-size: 17px;
     box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05);
}
#input-text{
    height: 80px;
    width: 220px;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    color: whitesmoke;
    border: none;
    background-color: transparent;
}
.equal{
    background-color: #f88120
}
.operator{
    color: greenyellow;
}