

        span{
            display: block;
        }

        #canvas{
            margin: 100px auto 100px;
            width: 80%;
            text-align: center;
            
        }

        .button{
            width: 100px;
            height: 100px;
            border: solid 2px black;
            display: inline-block;
        }

        #grey{
            background-color: grey;
        }
        
        #blue{
            background-color: blue;
        }

        #white{
            background-color: white;
        }

        #yellow{
            background-color: yellow;
        }

        